<?xml version="1.0"?>
<robot name="gps_plugin" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="gps_plugin" params="
            node_namespace
            node_name
            frame_link
            topic_prefix
            gazebo_classic
            gazebo_ignition
            rate
            ">

    <xacro:if value="${gazebo_classic}">
        <gazebo reference="${frame_link}">
            <sensor type="gps" name="${node_name}">
            <always_on>true</always_on>
            <update_rate>${rate}</update_rate>
            <gps>
                <position_sensing>
                <horizontal>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </horizontal>
                <vertical>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </vertical>
                </position_sensing>
                <vertical_sensing>
                <horizontal>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </horizontal>
                <vertical>
                    <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>0.1</stddev>
                    </noise>
                </vertical>
                </vertical_sensing>
            </gps>
            <plugin name="${node_name}" filename="libgazebo_ros_gps_sensor.so">
                <ros>
                <namespace>${node_namespace}</namespace>
                <remapping>~/out:=${topic_prefix}fix</remapping>
                <remapping>~/vel:=${topic_prefix}vel</remapping>
                </ros>
            </plugin>
            </sensor>
        </gazebo>
    </xacro:if>

    <xacro:if value="${gazebo_ignition}">
        <gazebo reference="${frame_link}">
            <sensor name="${node_name}" type="navsat">
                <navsat>
                    <position_sensing>
                    <horizontal>
                        <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.1</stddev>
                        </noise>
                    </horizontal>
                    <vertical>
                        <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.1</stddev>
                        </noise>
                    </vertical>
                    </position_sensing>
                    <vertical_sensing>
                    <horizontal>
                        <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.1</stddev>
                        </noise>
                    </horizontal>
                    <vertical>
                        <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.1</stddev>
                        </noise>
                    </vertical>
                    </vertical_sensing>
                </navsat>
                <always_on>1</always_on>
                <update_rate>${rate}</update_rate>
                <topic>${node_namespace}/${node_name}/data</topic>
                <gz_frame_id>${frame_link}</gz_frame_id>
                <plugin filename="ignition-gazebo-navsat-system" name="ignition::gazebo::systems::NavSat"/>
            </sensor>
        </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
