<?xml version="1.0" ?>
<robot
  name="sensor_hokuyo_ust10lx"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/lidar_2d_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_hokuyo_ust10lx"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=hokuyo_ust10lx
            node_namespace:=${None}
            topic_prefix:=~/
            gpu:=false">
    <!-- node_namespace is used from node_name if not set -->
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">
      <collision>
        <origin
          xyz="0 0 0.0"
          rpy="0 0 0" />
        <geometry>
          <box size="0.010 0.010 0.010" />
        </geometry>
      </collision>

      <visual>
        <origin
          xyz="0 0 0.0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/hokuyo_ust_10lx.dae" />
        </geometry>
      </visual>

      <inertial>
        <origin
          xyz="0.0 0 0.035"
          rpy="0 0 0" />
        <mass value="0.130" />
        <xacro:solid_cuboid_inertia
          m="0.130"
          w="0.05"
          h="0.05"
          d="0.07" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <origin
        xyz="0 0 0.0474"
        rpy="0 0 0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}link" />
    </joint>

    <link name="${frame_prefix}link" />

    <!-- Hokuyo sensor for simulation -->
    <xacro:lidar_2d_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      gazebo_ignition="${gazebo_ignition}"
      min_range="0.06"
      max_range="10.0"
      min_angle="-2.3562"
      max_angle="2.3562"
      frame_link="${frame_prefix}link"
      rate="40"
      resolution="0.004359297"
      samples="1081" />
  </xacro:macro>
</robot>
