<?xml version="1.0" ?>
<robot
  name="sensor_sick_tim551"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/lidar_2d_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_sick_tim571"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=sick_tim571
            node_namespace:=${None}
            topic_prefix:=~/
            gpu:=false">
    <!-- node_namespace is used from node_name if not set -->
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/2d_lidar/sick/tim571.dae" />
        </geometry>
      </collision>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/2d_lidar/sick/tim571.dae" />
        </geometry>
      </visual>
      <inertial>
        <mass value="0.25" />
        <origin
          xyz="-0.0017 0 0.042875"
          rpy="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.25"
          w="0.061"
          h="0.06"
          d="0.08575" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <origin
        xyz="0 0 0.05746"
        rpy="0 0 0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}link" />
    </joint>

    <link name="${frame_prefix}link" />

    <xacro:lidar_2d_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      gazebo_ignition="${gazebo_ignition}"
      min_range="0.05"
      max_range="25.0"
      min_angle="${-radians(130)}"
      max_angle="${radians(130)}"
      frame_link="${frame_prefix}link"
      rate="15.0"
      resolution="0.00575"
      samples="810" />
  </xacro:macro>
</robot>
