<?xml version="1.0" ?>
<robot
  xmlns:xacro="http://wiki.ros.org/xacro"
  name="sensor_axis_m5526">
  <xacro:property
    name="ptz_joint_effort_limit"
    value="1.0" />
  <xacro:property
    name="ptz_joint_velocity_limit"
    value="1.0" />
  <xacro:property
    name="ptz_joint_friction"
    value="0.1" />
  <xacro:property
    name="ptz_joint_damping"
    value="0.1" />
  <xacro:property
    name="ptz_mechanical_reduction"
    value="1.0" />

  <xacro:arg
    name="axis_m5526_controllers_params_file"
    default="" />
  <!--$(find robotnik_sensors_gazebo)/config/camera/axis_m5526.yaml-->

  <xacro:macro
    name="sensor_axis_m5526"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=axis_m5526
            node_namespace:=${None}
            topic_prefix:=~/">
    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <axis xyz="0 1 0" />
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">
      <inertial>
        <origin
          xyz="0.066 0 0"
          rpy="0 ${3.1415/2} 0" />
        <mass value="0.8" />
        <xacro:solid_cuboid_inertia
          m="0.8"
          w="0.165"
          h="0.165"
          d="0.132" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 ${3.1415/2} 0" />
        <!-- to center the axis model -->
        <material name="axis_color">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/camera/axis_m5525.dae"
            scale="1.0 1.0 1.0" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0.0 0.0 0"
          rpy="0 ${3.1415/2} 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/camera/axis_m5525.stl"
            scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>

    <joint
      name="${frame_prefix}pan_joint"
      type="revolute">
      <axis xyz="1 0 0" />
      <origin
        xyz="0.087 0.0 0.0"
        rpy="0 0 0" />
      <!-- check the displacement -->
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}pan_link" />
      <limit
        effort="${ptz_joint_effort_limit}"
        velocity="${ptz_joint_velocity_limit}"
        lower="-3.1416"
        upper="3.1416" />
      <joint_properties
        damping="${ptz_joint_damping}"
        friction="{ptz_joint_friction}" />
    </joint>
    <link name="${frame_prefix}pan_link">
      <inertial>
        <mass value="0.1" />
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.1"
          w="0.1"
          h="0.11"
          d="0.11" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}tilt_joint"
      type="revolute">
      <axis xyz="0 -1 0" />
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <parent link="${frame_prefix}pan_link" />
      <child link="${frame_prefix}tilt_link" />
      <limit
        effort="${ptz_joint_effort_limit}"
        velocity="${ptz_joint_velocity_limit}"
        lower="-1.5708"
        upper="1.5708" />
      <joint_properties
        damping="${ptz_joint_damping}"
        friction="{ptz_joint_friction}" />
    </joint>
    <link name="${frame_prefix}tilt_link">
      <inertial>
        <mass value="0.1" />
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.1"
          w="0.11"
          h="0.11"
          d="0.1" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}frame_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="${frame_prefix}tilt_link" />
      <child link="${frame_prefix}frame_link" />
    </joint>
    <link name="${frame_prefix}frame_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.1"
          w="0.11"
          h="0.11"
          d="0.1" />
      </inertial>
    </link>
    <!-- Optical frame -->
    <joint
      name="${frame_prefix}optical_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-3.1415/2} 0 ${-3.1415/2}" />
      <parent link="${frame_prefix}frame_link" />
      <child link="${frame_prefix}optical_frame_link" />
    </joint>
    <link name="${frame_prefix}optical_frame_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.1"
          w="0.11"
          h="0.11"
          d="0.1" />
      </inertial>
    </link>
    <gazebo reference="${frame_prefix}base_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Axis sensor for simulation -->
    <xacro:camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}_color"
      topic_prefix="${topic_prefix}_color"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}color_optical_frame"
      reference_frame="${frame_prefix}color_frame"
      horizontal_fov="45"
      vertical_fov="32"
      video_width="640"
      video_height="480"
      min_depth="0.1"
      max_depth="100"
      rate="30" />
  </xacro:macro>
</robot>
