<?xml version="1.0" ?>
<robot
  name="sensor_robosense_helios"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/lidar_3d_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_robosense_helios_16p"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=robosense_helios_16p
            node_namespace:=${None}
            topic_prefix:=~/
            gpu:=false">
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/3d_lidar/robotsense/helios_16p.stl" />
        </geometry>
      </collision>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/3d_lidar/robotsense/helios_16p.stl" />
        </geometry>
        <material name="blackgray_color">
          <color rgba="0.25 0.25 0.25 1" />
        </material>
      </visual>
      <inertial>
        <mass value="0.840" />
        <origin xyz="0 0 0.04135" />
        <xacro:solid_cuboid_inertia
          m="0.840"
          w="0.109"
          h="0.109"
          d="0.0827" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}link" />
      <origin
        xyz="0.0 0 0.0635"
        rpy="0 0 0" />
    </joint>

    <link name="${frame_prefix}link" />

    <xacro:lidar_3d_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      gazebo_ignition="${gazebo_ignition}"
      min_range="0.2"
      max_range="150.0"
      min_angle="-15.0"
      max_angle="15.0"
      frame_link="${frame_prefix}link"
      rate="10"
      horizontal_samples="1800"
      vertical_samples="16" />
  </xacro:macro>
</robot>
