<?xml version="1.0"?>
<robot name="sensor_sick_mlse_0200" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="sensor_sick_mlse_0200" params="prefix parent *origin include_inertial:=^|true">

    <joint name="${prefix}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/sick_mlse_0200.STL" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotnik_sensors/meshes/sick_mlse_0200.STL" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <xacro:if value="${include_inertial}">
        <inertial>
          <mass value="0.1"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <xacro:solid_cuboid_inertia m="0.1" w="0.06" h="0.06" d="0.03"/>
        </inertial>
      </xacro:if>
    </link>

    <joint name="${prefix}_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}_link"/>
      <child link="${prefix}_frame"/>
    </joint>

    <link name="${prefix}_frame">
      <xacro:if value="${include_inertial}">
        <inertial>
          <mass value="0.001"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <xacro:solid_cuboid_inertia m="0.001" w="0.01" h="0.01" d="0.01"/>
        </inertial>
      </xacro:if>
    </link>

  </xacro:macro>

</robot>
