<?xml version="1.0"?>
<robot name="sensor_ublox" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- if no latitude/longitud is specified, then use Fuente del Jarro as default -->
  <xacro:macro name="sensor_ublox" params="prefix parent *origin gps_latitude:=^|39.5080331 gps_longitude:=^|-0.4619816 update_rate:=^|5 use_mast:=^|false">

	  <!-- ANTENNA GPS -->
	  <joint name="${prefix}_base_joint" type="fixed">
	    <axis xyz="0 1 0"/>
	    <xacro:insert_block name="origin"/>
	    <parent link="${parent}"/>
	    <child link="${prefix}_base_link"/>
	  </joint>
	  <link name="${prefix}_base_link">
		<inertial>
			<origin xyz="0.0 0 0.015" rpy="0 0 0" />
			<mass value="0.2" />
			<xacro:solid_cuboid_inertia m="0.2" w="0.081" h="0.081" d="0.03" />
      </inertial>
	    <visual>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
		  <material name="ublox_gps_color">
           <color rgba="0.5 0.5 0.5 1"/>
          </material>
		  <xacro:if value="${use_mast}">
			<geometry>
				<mesh filename="package://robotnik_sensors/meshes/antenna_ANN_MB_mast.stl" scale="1.0 1.0 1.0"/>
			</geometry>
		  </xacro:if>
		  <xacro:unless value="${use_mast}">
			<geometry>
				<mesh filename="package://robotnik_sensors/meshes/antenna_ANN_MB.stl" scale="1.0 1.0 1.0"/>
			</geometry>
		  </xacro:unless>
	    </visual>
	    <collision>
		  <xacro:if value="${use_mast}">
		    <origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://robotnik_sensors/meshes/antenna_ANN_MB_mast.stl" scale="1.0 1.0 1.0"/>
			</geometry>
		  </xacro:if>
		  <xacro:unless value="${use_mast}">
		    <origin rpy="0 0 0" xyz="0 0 0.01125"/>
			<geometry>
				<box size="0.0607 0.083 0.0225"/>
			</geometry>
		  </xacro:unless>
	    </collision>
	  </link>

	  <joint name="${prefix}_joint" type="fixed">
	      <axis xyz="1 0 0"/>
	      <origin xyz="0.0 0.0 0.01125"/>
	      <parent link="${prefix}_base_link"/>
	      <child link="${prefix}_link"/>
	  </joint>

	  <link name="${prefix}_link">
	  </link>

	<gazebo reference="${prefix}_base_link">
		<material>Gazebo/Grey</material>
		<gravity>true</gravity>
	</gazebo>

    <gazebo>
      <plugin name="${prefix}_controller" filename="libhector_gazebo_ros_gps.so">
        <alwaysOn>1</alwaysOn>
        <updateRate>${update_rate}</updateRate>
        <bodyName>${prefix}_link</bodyName>
        <frameId>${prefix}_link</frameId>
        <topicName>gps/fix</topicName>
        <!-- GPS coordinates -->
        <referenceLatitude>${gps_latitude}</referenceLatitude>
        <referenceLongitude>${gps_longitude}</referenceLongitude>
        <!-- To set heading in ENU orientation (degrees) -->
        <referenceHeading>90</referenceHeading>
        <velocityTopicName>gps/fix_velocity</velocityTopicName>
        <drift>0.0 0.0 0.0</drift>
        <!--<drift>0.0001 0.0001 0.0001</drift>-->
        <!--<drift>0.3 0.3 0.3</drift>-->
        <gaussianNoise>0.00001 0.00001 0.00001</gaussianNoise>
        <!--<gaussianNoise>0.00001 0.00001 0.00001</gaussianNoise>-->
        <velocityDrift>0.00001 0.00001 0.00001</velocityDrift>
        <!--<velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>-->
        <velocityGaussianNoise>0.00001 0.00001 0.00001</velocityGaussianNoise>

      </plugin>
	</gazebo>

  </xacro:macro>

</robot>
