<?xml version="1.0" ?>
<robot
  name="sensor_azure_kinect"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/depth_camera_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_azure_kinect"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_namespace:=${None}
            node_name:=azure_kinect
            topic_prefix:=~/">
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}link" />
    </joint>
    <link name="${frame_prefix}link">
      <visual>
        <origin xyz="-0.013 0. 0." />
        <geometry>
          <box size="0.026 0.103 0.039" />
        </geometry>
        <material name="${frame_prefix}grey" />
      </visual>
      <collision>
        <origin
          xyz="-0.013 0. 0."
          rpy="0 0 0" />
        <geometry>
          <box size="0.026 0.103 0.03039" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.3" />
        <origin xyz="0.0 0.0 0.0" />
        <xacro:solid_cuboid_inertia
          m="0.3"
          w="0.026"
          h="0.103"
          d="0.03039" />
      </inertial>
    </link>

    <joint
      name="${frame_prefix}rgb_joint"
      type="fixed">
      <origin
        xyz="0.0 0. 0.008"
        rpy="0.0 0.0 0.0" />
      <parent link="${frame_prefix}link" />
      <child link="${frame_prefix}rgb_frame" />
    </joint>
    <link name="${frame_prefix}rgb_frame">
      <visual>
        <origin xyz="-0.0757 0. 0." />
        <geometry>
          <box size="0.0994 0.0996 0.023" />
        </geometry>
        <material name="${frame_prefix}white" />
      </visual>
    </link>

    <joint
      name="${frame_prefix}rgb_optical_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0 0.0"
        rpy="${-radians(90)} 0 ${-radians(90)}" />
      <parent link="${frame_prefix}rgb_frame" />
      <child link="${frame_prefix}rgb_optical_frame" />
    </joint>
    <link name="${frame_prefix}rgb_optical_frame">
      <visual>
        <origin
          xyz="0.0 0.01 -0.015"
          rpy="0.0 0.0 ${-radians(90)}" />
        <geometry>
          <box size="0.026 0.101 0.037" />
        </geometry>
        <material name="${frame_prefix}black" />
      </visual>
    </link>

    <joint
      name="${frame_prefix}depth_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0375 0.008"
        rpy="0 0 0" />
      <parent link="${frame_prefix}link" />
      <child link="${frame_prefix}depth_frame" />
    </joint>
    <link name="${frame_prefix}depth_frame" />

    <joint
      name="${frame_prefix}depth_optical_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-radians(90)} 0 ${-radians(90)}" />
      <parent link="${frame_prefix}depth_frame" />
      <child link="${frame_prefix}depth_optical_frame" />
    </joint>
    <link name="${frame_prefix}depth_optical_frame" />

    <material name="${frame_prefix}black">
      <color rgba="0. 0. 0. 1" />
    </material>
    <material name="${frame_prefix}grey">
      <color rgba="0.6 0.6 0.6 1" />
    </material>
    <material name="${frame_prefix}white">
      <color rgba="0.9 0.9 0.9 1" />
    </material>

    <!-- RGBD sensor for simulation, same as Kinect -->
    <xacro:depth_camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      topic_prefix="${topic_prefix}"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}color_optical_frame"
      reference_frame="${frame_prefix}color_frame"
      horizontal_fov="60"
      vertical_fov="45"
      video_width="640"
      video_height="480"
      min_depth="0.05"
      max_depth="3.5"
      rate="30" />
  </xacro:macro>
</robot>
