<?xml version="1.0" ?>
<robot
  name="sensor_orbbec_astra"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/depth_camera_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_orbbec_astra"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_namespace:=${None}
            node_name:=orbbec_astra
            topic_prefix:=~/">
    <!-- node_namespace is used from node_name if not set -->
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}link" />
    </joint>
    <link name="${frame_prefix}link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/depth/orbbec_astra/orbbec_astra.dae" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="-0.02 0 0.015"
          rpy="0 0 0" />
        <geometry>
          <box size="0.042 0.155 0.03" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.3" />
        <origin xyz="0.0 0.0 0.0" />
        <xacro:solid_cuboid_inertia
          m="0.3"
          w="0.04"
          h="0.165"
          d="0.03" />
      </inertial>
    </link>
    <joint
      name="${frame_prefix}rgb_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0125 0.0150"
        rpy="0.0 0.0 0.0" />
      <parent link="${frame_prefix}link" />
      <child link="${frame_prefix}rgb_frame" />
    </joint>
    <link name="${frame_prefix}rgb_frame" />
    <joint
      name="${frame_prefix}rgb_optical_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0 0.0"
        rpy="${-radians(90)} 0 ${-radians(90)}" />
      <parent link="${frame_prefix}rgb_frame" />
      <child link="${frame_prefix}rgb_optical_frame" />
    </joint>
    <link name="${frame_prefix}rgb_optical_frame" />
    <joint
      name="${frame_prefix}depth_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0375 0.0150"
        rpy="0 0 0" />
      <parent link="${frame_prefix}link" />
      <child link="${frame_prefix}depth_frame" />
    </joint>
    <link name="${frame_prefix}depth_frame" />
    <joint
      name="${frame_prefix}depth_optical_joint"
      type="fixed">
      <origin
        xyz="0 0 0"
        rpy="${-radians(90)} 0 ${-radians(90)}" />
      <parent link="${frame_prefix}depth_frame" />
      <child link="${frame_prefix}depth_optical_frame" />
    </joint>
    <link name="${frame_prefix}depth_optical_frame" />

    <xacro:depth_camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      topic_prefix="${topic_prefix}"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}depth_optical_frame"
      reference_frame="${frame_prefix}depth_frame"
      horizontal_fov="60"
      vertical_fov="45"
      video_width="640"
      video_height="480"
      min_depth="0.05"
      max_depth="8.0"
      rate="30" />
  </xacro:macro>
</robot>
