<?xml version="1.0" ?>
<robot
  name="sensor_stereolabs_generic"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/depth_camera_plugin.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/irred_camera_plugin.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/camera_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_stereolabs_generic"
    params="frame_prefix
            parent
            *origin
            model:=zed2
            gazebo_ignition:=false
            node_name:=stereolabs_generic
            node_namespace:=${None}
            topic_prefix:=~/
            horizontal_fov:=80
            vertical_fov:=60
            video_width:=1280
            video_height:=720
            video_fps:=30
            min_depth:=0.4
            max_depth:=6.5">
    <!-- node_namespace is used from node_name if not set -->
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <xacro:if value="${model == 'zed'}">
      <xacro:property
        name="baseline"
        value="0.12" />
    </xacro:if>
    <xacro:if value="${model == 'zedm'}">
      <xacro:property
        name="baseline"
        value="0.06" />
    </xacro:if>
    <xacro:if value="${model == 'zed2'}">
      <xacro:property
        name="baseline"
        value="0.12" />
    </xacro:if>

    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>
    <link name="${frame_prefix}base_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/depth/stereolabs_zed/${model}.stl" />
        </geometry>
        <material name="light_zed_grey">
          <color rgba="0.35 0.35 0.35 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0.0 0.0 0.0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://robotnik_sensors/meshes/depth/stereolabs_zed/${model}.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.135" />
        <origin xyz="0 0 0" />
        <xacro:solid_cuboid_inertia
          m="0.135"
          w="0.033"
          h="0.175"
          d="0.03" />
      </inertial>
    </link>

    <!-- Left camera -->
    <joint
      name="${frame_prefix}color_left_joint"
      type="fixed">
      <origin
        xyz="0.0 0.06 0.0"
        rpy="0.0 0.0 0.0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}left_camera_frame" />
    </joint>
    <link name="${frame_prefix}left_camera_frame" />

    <joint
      name="${frame_prefix}color_left_optical_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0 0.0"
        rpy="${-radians(90)} 0.0 ${-radians(90)}" />
      <parent link="${frame_prefix}left_camera_frame" />
      <child
        link="${frame_prefix}left_camera_optical_frame" />
    </joint>
    <link name="${frame_prefix}left_camera_optical_frame" />

    <!-- Right camera-->
    <joint
      name="${frame_prefix}color_right_joint"
      type="fixed">
      <origin
        xyz="0.0 -0.06 0.0"
        rpy="0.0 0.0 0.0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}right_camera_frame" />
    </joint>
    <link name="${frame_prefix}right_camera_frame" />

    <joint
      name="${frame_prefix}color_right_optical_joint"
      type="fixed">
      <origin
        xyz="0.0 0 0.0"
        rpy="${-radians(90)} 0.0 ${-radians(90)}" />
      <parent link="${frame_prefix}right_camera_frame" />
      <child
        link="${frame_prefix}right_camera_optical_frame" />
    </joint>
    <link
      name="${frame_prefix}right_camera_optical_frame" />

    <!-- Depth image-->
    <joint
      name="${frame_prefix}depth_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0.0 0.0 0.0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}depth_frame" />
    </joint>
    <link name="${frame_prefix}depth_frame" />

    <joint
      name="${frame_prefix}depth_optical_joint"
      type="fixed">
      <origin
        xyz="0.0 0.0 0.0"
        rpy="${-radians(90)} 0.0 ${-radians(90)}" />
      <parent link="${frame_prefix}depth_frame" />
      <child link="${frame_prefix}depth_optical_frame" />
    </joint>
    <link name="${frame_prefix}depth_optical_frame" />

    <xacro:camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}_right_sensor"
      topic_prefix="${topic_prefix}_right_sensor"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}right_camera_optical_frame"
      reference_frame="${frame_prefix}right_camera_frame"
      horizontal_fov="${horizontal_fov}"
      vertical_fov="${vertical_fov}"
      video_width="${video_width}"
      video_height="${video_height}"
      min_depth="0.1"
      max_depth="100"
      rate="30" />

    <xacro:camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}_left_sensor"
      topic_prefix="${topic_prefix}_left_sensor"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}left_camera_optical_frame"
      reference_frame="${frame_prefix}left_camera_frame"
      horizontal_fov="${horizontal_fov}"
      vertical_fov="${vertical_fov}"
      video_width="${video_width}"
      video_height="${video_height}"
      min_depth="0.1"
      max_depth="100"
      rate="30" />

    <xacro:depth_camera_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}_depth"
      topic_prefix="${topic_prefix}_depth"
      gazebo_ignition="${gazebo_ignition}"
      optical_frame="${frame_prefix}depth_optical_frame"
      reference_frame="${frame_prefix}depth_frame"
      horizontal_fov="${horizontal_fov}"
      vertical_fov="${vertical_fov}"
      video_width="${video_width}"
      video_height="${video_height}"
      min_depth="${min_depth}"
      max_depth="${max_depth}"
      rate="30" />
  </xacro:macro>
</robot>
