<?xml version="1.0"?>
<robot name="sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="model" default=""/>
  <xacro:arg name="name" default=""/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="gazebo_ignition" default=""/>

  <link name="world"/>
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
  <xacro:call
      macro="sensor_$(arg model)"
      frame_prefix="$(arg name)_"
      parent="world"
      node_namespace="$(arg namespace)"
      node_name="$(arg name)"
      gazebo_ignition="$(arg gazebo_ignition)"
      topic_prefix="~/$(arg name)">
    <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
  </xacro:call>
</robot>
