<?xml version="1.0"?>
<robot name="all_sensors" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- This file unifies all sensors that can be used on simulation, defined as xacro:macros -->

  <xacro:include filename="$(find robotnik_sensors)/urdf/utils/inertia.urdf.xacro" />

  <!-- Depth sensors -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/depth/intel_realsense_d435.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/depth/orbbec_astra.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/depth/stereolabs_generic.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/depth/stereolabs_zed2.urdf.xacro" />

  <!-- 2D Lidars -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_microscan3.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_nanoscan3.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_outdoorscan3.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_s300.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_s3000.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_tim551.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_tim571.urdf.xacro" />

  <!-- 3D Lidars -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/3d_lidar/velodyne_vlp16.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/3d_lidar/robosense_bpearl.urdf.xacro" />

  <!-- IMUs -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/imu/vectornav.urdf.xacro" />

  <!-- GPS -->
  <xacro:include filename="$(find robotnik_sensors)/urdf/gps/gps.urdf.xacro" />

</robot>
