<?xml version="1.0" ?>
<robot
  name="all_sensors"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- This file unifies all sensors that can be used on simulation, defined as xacro:macros -->

  <xacro:include
    filename="$(find robotnik_sensors)/urdf/utils/inertia.urdf.xacro" />

  <!-- Depth sensors -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/intel_realsense_d435.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/intel_realsense_d435i.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/orbbec_astra.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/stereolabs_generic.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/stereolabs_zed2.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/stereolabs_zed2i.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/depth/azure_kinect.urdf.xacro" />

  <!-- 2D Lidars -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_microscan3.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_nanoscan3.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_outdoorscan3.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_s300.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_s3000.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_tim551.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/sick_tim571.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/hokuyo_urg04lx.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/hokuyo_ust10lx.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/hokuyo_ust20lx.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/2d_lidar/hokuyo_utm30lx.urdf.xacro" />

  <!-- 3D Lidars -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/velodyne_vlp16.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/robosense_bpearl.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/robosense_helios_16p.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/ouster.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/livox_mid_360.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/3d_lidar/sick_multiscan_100.urdf.xacro" />

  <!-- IMUs -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/imu/vectornav.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/imu/myahrs.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/imu/pixhawk.urdf.xacro" />

  <!-- GPS -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/gps/gps.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/gps/gps_with_mast.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/gps/ublox.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/gps/ublox_with_mast.urdf.xacro" />

  <!-- Camera -->
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/axis_m5013.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/axis_m5074.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/axis_m5525.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/axis_m5526.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_sensors)/urdf/camera/link_750_nh.urdf.xacro" />
</robot>
